.body {
    background-image: url(./Fit_Truk_App_BG.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 736px;
  }

  .logo {
      background-color: rgba(0,0,0, 0.6);
      display: flex;
      justify-content: center;
      align-items: center ;
      padding: 10px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 50%;
      border-radius: 10px;
  }

  .logo img{
      width: 90%;
      margin: 10px;
  }