.body {
    background-image: url(./Fit_Truk_App_BG.gif);
    /* background-color: green; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }

  .logo {
      background-color: rgba(0,0,0, 0.6);
      display: flex;
      justify-content: center;
      align-items: center ;
      padding: 10px;
      margin-left: 10px;
      margin-right: 10px;
      /* margin-bottom: 60%; */
      border-radius: 10px;
  }

  .register-btn{
      backdrop-filter: blur(10px) brightness(0.7);
      border-width: 2px;
  }

.btngroup{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-direction: column;
    width: 70%;
}
.container{
    padding-top: 10%;
    padding-bottom: 10%;
    height: 90%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

  .logo img{
      width: 90%;
      margin: 10px;
  }

  p {
      margin: 0px;
      font-size: 20px;
  }